.imgDetail {
    width: 100%;
}

.contenedorItem {
    height: 50vh;
    background-color: white;
    margin-top: 6%;
}

.table {    
    width: 50%;
    display: inline-block;
    min-height: 50%;
    padding: 20px;
    
}


.finalizarCompra {
    display: flow;
    top: 100px;
    position: relative;
    margin: 0 auto;
    font-size: 2rem;
    background-color: #00072c !important;    
    color: white !important;
}

